@tailwind base;
@tailwind components;
@tailwind utilities;

/* schedule */
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-spreadsheet/styles/material.css"; 

/* gantt */
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-gantt/styles/material.css';




/* @import url("https://cdn.syncfusion.com/ej2/bootstrap5.css"); */

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: white;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-lg;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h1, h2{
    @apply md:text-[30px] text-[24px] font-medium;
}

h3{
    @apply text-[22px] md:!text-[20px] font-medium;
}

p{
    @apply text-[16px] font-light;
}


/* table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

tbody tr:nth-child(odd){
    @apply bg-row-regular;
}
tbody tr:nth-child(even){
    @apply bg-row-odd;
}

td, th{
    @apply py-2 px-3;
}
td {
    @apply h-[100px];
} */

/*spinner*/


/* select,
option {
  font-family: Calibri;
} */



.Editor-Canvas{
  /* position: absolute;
  top: 100px; */
  margin: 0 auto !important;
  z-index: 9999;
  width: 80%;
  /* height: 80%; */
}

.spinner circle {
    stroke: white;
    strokeLinecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  .spinner {
    stroke: white;
    animation: rotate 1s linear infinite;
    z-index: 2;
    width: 22px;
    height: 22px;
  }
  
  .spinner .path {
    stroke:black;
    strokeLinecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
  
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
  
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
  }

  .table_row{
    display: grid;
    /* grid-template-columns: 15px 30px 120px 4fr 30px 50px 1fr 1fr 1fr 1fr 50px; */
    @apply text-[12px] items-center min-h-[40px];
    
  }

  .table_row.content.dragging{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  }

  .table_row.content{
    display: grid;
    @apply bg-gray-100;
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.056) 0px 0px 8px; */
  }

  .table_row.heading{
    align-items: center;
    @apply px-1 py-[8px] min-h-0;
    
  }

  li.table_row > div:nth-child(1){
    text-align: center;
    justify-self: center;
  }
  .table_row .kcn, .table_row .mj{
    text-align: center;
    justify-self: center;
  }

  .table_row.content .table_unit{
    @apply border-gray-300 border-t border-r;
  }

  .table_row.content .table_unit:first-child{
    @apply border-l;
  }

  div.table_wrap .table_row.last .table_unit{
    @apply border-b;
  }

.table_row .cdj, .table_row .cmj, .table_row .cdc, .table_row .cmc{
  text-align: start;
  justify-self: start;
}

  .table_row svg.cancel *{
    transition: all 0.2s;
  }
  .table_row svg.cancel:hover *{
    fill: red;
  }

  .table_row svg.draggable *{
    transition: all 0.2s;
  }
  .table_row svg.draggable:hover *{
    fill: black;
  }

  .bottom-bar{
    box-shadow: rgb(13 9 34 / 7%) 1px -20px 20px 0px;
  }

  .block-shadow{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  /* Skeleton loading */
  .skeleton {
    background: linear-gradient(-45deg, #e8e8e8, #f4f4f4, #e8e8e8, #f4f4f4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 2.25s ease infinite;
    -moz-animation: Gradient 2.25s ease infinite;
    animation: Gradient 2.25s ease infinite;
  }
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }


#file-hidden {
    display: none;
}

.icon-grid{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  column-gap: 10px;
  row-gap: 15px;
}

.icon-two-grid{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  column-gap: 10px;
  row-gap: 10px;
}

.input-red{
  @apply text-xl shadow-sm font-medium border border-slate-300 rounded-sm focus:border-rose-600
}

.input-green{
  @apply text-xl shadow-sm font-medium border border-slate-300 rounded-sm focus:border-emerald-600
}

.input-blue{
  @apply text-xl shadow-sm font-medium border border-slate-300 rounded-sm focus:border-blue-600
}

.trans{
  @apply transition duration-200 ease-in-out
}

.project-div{
  aspect-ratio: 2 / 1;
}

#search-form:focus{
  outline:none;
}

#search-form::-webkit-search-decoration,
#search-form::-webkit-search-cancel-button,
#search-form::-webkit-search-results-button,
#search-form::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.dont-copy{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


/* Chrome, Safari, Edge, Opera */
#form-input::-webkit-outer-spin-button,
#form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#form-input[type=number] {
  -moz-appearance: textfield;
}
